body {
    font-family: 'Arvo', serif;
    background: #DFFEFF;
    color: #026D7F;
}

.line {
   border-color: #026D7F;
   background-color: #026D7F;
   height: 2px;
   
}

h1 {
    font-family: 'Arvo', serif;
    text-align: center;
}

h4 {
    color: red;
    font-size: 40px;
    font-family: 'Allerta Stencil', sans-serif;

   
}
#status {
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 40px;
    float: right;
    margin-top: 160px;
    margin-right: 300px;
    height: 170px;
    width: 170px;



}
.button {
    background: #0EB8B5;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 16px;
    margin-top: 5px;
}
.button:hover {
    background: white;
    border: 1px solid #0EB8B5;
    color: black;
    cursor: pointer;
}
#after_submit {
    display: none;
    background: #0EB8B5;
    border-radius: 20px;
    width: 100px;
    height: 100px;
    padding: 20px 20px;
    font-size: 20px;
    text-align: center;
    margin: 0 auto; 
    font-family: 'Arvo', serif; 
    

}

#quiz {
    padding: 10px 20px 10px 20px;
    width: 500px;
    height: 270px;
    border-radius: 20px;
    float: block;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 15px;
    display: none;

}
.answer {
    text-overflow:ellipsis;
    display: inline-block;
    
}
.questions {
    font-family: 'Arvo', serif; 
    font-size: 28px;

}


.intro {
    font-family: 'Arvo', serif; 
    font-size: 20px;
    text-align: center;
}

#start {
background: #0EB8B5;
border: none;
border-radius: 5px;
padding: 10px;
color: white;
font-size: 40px;
margin-top: 5px;
margin: 0 auto;
width: 200px;
height: 100px;
display: block;
}

#buttonCA {
float: left;
}



.extra {
    display:none;
}
